<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section__title section__title--underlined text-center" data-aos="fade" >{{ this.theme.about_heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto text-center" data-aos="fade" >
                <p class="about__description">{{ this.theme.about_description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="about__item" data-aos="fade-zoom-in" >
                    <i class="{{ this.theme.card_icon_1 }}"></i>
                    <p>{{ this.theme.card_text_1 }}</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="about__item" data-aos="fade-zoom-in" data-aos-delay="150" >
                    <i class="{{ this.theme.card_icon_2 }}"></i>
                    <p>{{ this.theme.card_text_2 }}</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="about__item" data-aos="fade-zoom-in" data-aos-delay="250" >
                    <i class="{{ this.theme.card_icon_3 }}"></i>
                    <p>{{ this.theme.card_text_3 }}</p>
                </div>
            </div>
            <div class="col-6 col-md-3" data-aos="fade-zoom-in" data-aos-delay="350" >
                <div class="about__item">
                    <i class="{{ this.theme.card_icon_4 }}"></i>
                    <p>{{ this.theme.card_text_4 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>