<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section__title section__title--underlined text-center" data-aos="fade" >about us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto text-center" data-aos="fade" >
                <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quod consequuntur amet eius, reprehenderit est consequatur tenetur ullam impedit recusandae cum ut voluptates similique non laborum nulla nam aperiam odit.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="about__item" data-aos="fade-zoom-in" >
                    <i class="fab fa-accessible-icon"></i>
                    <p>Fast Service</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="about__item" data-aos="fade-zoom-in" data-aos-delay="150" >
                    <i class="fas fa-assistive-listening-systems"></i>
                    <p>We Listen</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="about__item" data-aos="fade-zoom-in" data-aos-delay="250" >
                    <i class="fas fa-ambulance"></i>
                    <p>Always Reliable</p>
                </div>
            </div>
            <div class="col-6 col-md-3" data-aos="fade-zoom-in" data-aos-delay="350" >
                <div class="about__item">
                    <i class="fas fa-plus"></i>
                    <p>Your Health First</p>
                </div>
            </div>
        </div>
    </div>
</section>