<section id="facility" class="section facility">
    <div class="container-fluid facility-container">
        <div class="facility-container__content" data-aos="fade" >
            <h2 class="section__title section__title--light mb-5">our facility</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quam ipsum quas distinctio aut optio fuga veniam sit omnis quidem natus inventore aperiam, commodi cumque quo maiores minus quae neque perspiciatis. Eos adipisci odit doloribus eligendi. Placeat aut nesciunt nostrum, animi voluptatum ipsum inventore omnis aperiam mollitia eos aspernatur eligendi?</p>
            <button class="button button--elevate button--primary mt-5 mb-4">Vivus magna</button>
        </div>
        <div class="facility-contaner__img" style="background-image:url('{{ 'assets/dist/images/facility.jpg'|theme }}')"></div>
    </div>
</section>