<footer class="footer">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h3 class="text-uppercase">menu</h3>
                    <ul class="footer-menu  mt-4">
                        <li class="footer-menu__item"><a href="#home">Home</a></li>
                        <li class="footer-menu__item"><a href="#about">About</a></li>
                        <li class="footer-menu__item"><a href="#team">Team</a></li>
                        <li class="footer-menu__item"><a href="#">Facility</a></li>
                        <li class="footer-menu__item"><a href="#">Services</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="text-uppercase">location</h3>
                    <ul class="footer-menu  mt-4">
                        <li class="footer-menu__item">123 6th St. </li>
                        <li class="footer-menu__item">Melbourne, FL 32904</li>
                        <li class="footer-menu__item">71 Pilgrim Avenue</li>
                        <li class="footer-menu__item">Chevy Chase, MD 20815</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="text-uppercase">contact us</h3>
                    <ul class="footer-menu mt-4">
                        <li class="footer-menu__item">0934-345-345</li>
                        <li class="footer-menu__item">0934-443-345</li>
                        <li class="footer-menu__item">waard@info.com</li>
                    </ul>
                    <button class="button button--elevate button--secondary mt-4" data-toggle="modal" data-target="#subscription-modal">Newsletter</button>
                </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col footer__copyright-wrap">
                <p class="text-center">
                    @copyright Waard Template 1992
                </p>
            </div>
        </div>
    </div>
</footer>