<header id="home" class="header">
    <div class="header__info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p class="mb-0">Welcome to Waard Template</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="social-links">
                        <li class="social-links__item social-links__item--first">0934-345-345</li>
                        <li class="social-links__item">
                            <a href="{{ this.theme.facebook_link }}" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="{{ this.theme.twitter_link }}" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="{{ this.theme.instagram_link }}" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="social-links__item social-links__item--last">
                            <a href="{{ this.theme.pinterest_link }}" target="_blank"><i class="fab fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="#"><span class="highlight__primary--dark">{{ this.theme.website_name }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#facility">Facility</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
          </ul>
        </div>
      </nav>
      {% if(this.theme.hero_carousel == false) %}
        <div class="hero" style="background-image:url('{{ this.theme.hero_image ? this.theme.hero_image|media : 'assets/dist/images/hero.jpg'|theme  }}')">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 ml-auto">
                        <div class="hero__content">
                            <h1>Welcome to <span><span class="highlight__primary--dark">waard</span> theme</span></h1>
                            <p class="mb-5">{{ this.theme.hero_description }}</p>
                            <button class="button button--primary-dark">More Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% else %}
      <div class="hero-carousel">
            <div id="hero-carousel__item-indicators" class="carousel slide" data-ride="carousel">
                {% if(this.theme.hero_carousel_indicators) %}
                    <ol class="carousel-indicators">
                        <li data-target="#hero-carousel__item-indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#hero-carousel__item-indicators" data-slide-to="1"></li>
                        <li data-target="#hero-carousel__item-indicators" data-slide-to="2"></li>
                    </ol>
                {% endif %}
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="hero" style="background-image:url('{{ this.theme.hero_carousel_slide_1 ? this.theme.hero_carousel_slide_1|media : 'assets/dist/images/slide_1.jpg'|theme  }}')">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6 ml-auto">
                                            <div class="hero__content">
                                                <h1>Welcome to <span><span class="highlight__primary--dark">waard</span> theme</span></h1>
                                                <p class="mb-5">{{ this.theme.hero_description }}</p>
                                                <button class="button button--primary-dark">More Information</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="hero" style="background-image:url('{{ this.theme.hero_carousel_slide_2 ? this.theme.hero_carousel_slide_2|media : 'assets/dist/images/slide_2.jpg'|theme  }}')">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6 ml-auto">
                                        <div class="hero__content">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio excepturi amet dignissimos iusto possimus hic unde, eligendi omnis. Illum officiis amet minus dolore nostrum omnis voluptates exercitationem dolorum possimus cum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="hero" style="background-image:url('{{ this.theme.hero_carousel_slide_3 ? this.theme.hero_carousel_slide_3|media : 'assets/dist/images/slide_3.jpg'|theme  }}')">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6 ml-auto">
                                        <div class="hero__content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nobis, pariatur ex similique, modi in blanditiis rerum quae, architecto obcaecati quia. Quam omnis consequatur ex.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if(this.theme.hero_carousel_controls) %}
                    <a class="carousel-control-prev d-none d-sm-flex" data-target="#hero-carousel__item-indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-none d-sm-flex" data-target="#hero-carousel__item-indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </div>
      </div>
      {% endif %}
      
</header>