<header id="home" class="header">
    <div class="header__info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p class="mb-0">Welcome to Waard Template</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="social-links">
                        <li class="social-links__item social-links__item--first">0934-345-345</li>
                        <li class="social-links__item">
                            <a href="{{ this.theme.facebook_link }}" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="{{ this.theme.twitter_link }}" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="{{ this.theme.instagram_link }}" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="social-links__item social-links__item--last">
                            <a href="{{ this.theme.pinterest_link }}" target="_blank"><i class="fab fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="#"><span class="highlight__primary--dark">{{ this.theme.website_name }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#facility">Facility</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="hero" style="background-image:url('{{ this.theme.hero_image|media|default('assets/dist/images/hero.jpg'|theme) }}')">
          <div class="container">
              <div class="col-sm-12 col-lg-6 ml-auto">
                  <h1>Welcome to <span><span class="highlight__primary--dark">waard</span> template</span></h1>
                  <p class="mb-5">{{ this.theme.hero_description }}</p>
                  <button class="button button--primary-dark">More Information</button>
              </div>
          </div>
      </div>
</header>