<div class="modal fade" id="subscription-modal" tabindex="-1" role="dialog" aria-labelledby="subscription-modal__title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title mb-2" id="subscription-modal__title">Subscribe to our newsletter</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, veniam!</p>
            <form action="#" method="post">
                <label class="sr-only" for="subscription-modal__email">Email address</label>
                <input type="email" class="form-control" id="subscription-modal__email" placeholder="Email">  
            </form>
            <button class="button button--elevate button--secondary mt-4">Subscribe</button>
        </div>
      </div>
    </div>
</div>