/* SECTIONS */

.section {

    margin-bottom: 7rem;
}

.section__title {

    color: $text-dark;
    margin: 0 0 5.313rem;
    text-transform: uppercase;

    &--underlined::after {

        background-color: $primary-dark;
        content: "";
        display: block;
        height: 4px;
        margin: 3.438rem auto 0;
        width: 67px;
    }

    &--light {
        
        color: $text-light;
    }
}

/* SECTION PARTIALS */

@import 'header';

@import 'navigation';

@import 'hero';

@import 'about';

@import 'team';

@import 'facility';

@import 'services';

@import 'footer';
