/* VARIABLES */

/* COLORS */

$primary : #81ecec;

$primary-dark:#00cec9 ;

$secondary: #74b9ff;

$secondary-dark: #0984e3;

$text: #636e72;

$text-dark: #2d3436;

$text-light: #ffffff;


/* FONT */


$font: 'Lato', sans-serif;

$font-alt: 'Open Sans', sans-serif;