description = "Default layout"
==
<!doctype html>
<html lang="en">
  <head>
    {% partial 'meta' %}
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="wrapper">
        {% partial 'header' %}
        <main class="content">
            {% partial 'about' %}

            {% partial 'team' %}

            {% partial 'facility' %}

            {% partial 'services' %}
            
        </main>
        {% partial 'footer' %}
    </div>
    {% partial 'modal' %}

    {% partial 'scripts' %}
</body>
</html>