description = "Default layout"
==
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="{{ 'assets/dist/js/fontawesome-all.min.js'|theme }}"></script>
    <link href="{{ 'assets/dist/css/style.css'|theme }}" rel="stylesheet">
    <title>This is the title</title>
  </head>
  <body>
    <div class="wrapper">
        <header class="header">
            <div class="header__info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p class="mb-0">Welcome to Waard Template</p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <ul class="social-links">
                                <li class="social-links__item social-links__item--first">0934-345-345</li>
                                <li class="social-links__item">
                                    <i class="fab fa-facebook"></i>
                                </li>
                                <li class="social-links__item">
                                    <i class="fab fa-twitter"></i>
                                </li>
                                <li class="social-links__item">
                                    <i class="fab fa-instagram"></i>
                                </li>
                                <li class="social-links__item social-links__item--last">
                                    <i class="fab fa-pinterest"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light container">
                <a class="navbar-brand" href="#"><span class="highlight__primary--dark">Waard</span> Template</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Facility</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                          </li>
                  </ul>
                </div>
              </nav>
              <div class="hero">
                  <div class="container">
                      <div class="col-sm-12 col-md-6 ml-auto">
                          <h1>Welcome to <span><span class="highlight__primary--dark">waard</span> template</span></h1>
                          <p class="mb-5">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.</p>
                          <button class="button button--primary-dark">More Information</button>
                      </div>
                  </div>
              </div>
        </header>
        <main class="content">
            <section class="section about">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="section__title section__title--underlined text-center">about us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 mx-auto text-center">
                            <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quod consequuntur amet eius, reprehenderit est consequatur tenetur ullam impedit recusandae cum ut voluptates similique non laborum nulla nam aperiam odit.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="about__item">
                                <i class="fab fa-accessible-icon"></i>
                                <p>Fast Service</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="about__item">
                                <i class="fas fa-assistive-listening-systems"></i>
                                <p>We Listen</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="about__item">
                                <i class="fas fa-ambulance"></i>
                                <p>Always Reliable</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="about__item">
                                <i class="fas fa-plus"></i>
                                <p>Your Health First</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section team">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="section__title section__title--underlined text-center">our team</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team-profile">
                                <img src="{{ 'assets/dist/images/member.png'|theme }}" alt="Team Member" class="team-profile__image">
                                <div class="team-profile__titles">
                                    <p>Medical Doctor</p>
                                    <p>Master of Medical Science</p>
                                    <p>Anesthesiologists</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team-info">
                                <h4 class="team-info__name">Dr. Martion Cooler</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque ipsum facere soluta in reiciendis rem?</p>
                                <p>Eligendi veritatis maiores natus, incidunt reprehenderit exercitationem sunt delectus? Tempore, corporis ducimus!</p>
                                <button class="button button--secondary mt-4">Contact</button>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="team-member">
                                <div class="team-member__item mb-3">
                                    <img src="{{ 'assets/dist/images/member_thumbnail.png'|theme }}" alt="image" class="team-member__image">
                                    <div class="team-member__info">
                                        <span class="team-member__name">Herman Lock</span>
                                        <span class="team-member__title highlight__secondary--dark">Cardiologist</span>
                                    </div>
                                </div>
                                <div class="team-member__item mb-3">
                                    <img src="{{ 'assets/dist/images/member_thumbnail.png'|theme }}" alt="image" class="team-member__image">
                                    <div class="team-member__info">
                                        <span class="team-member__name">Herman Lock</span>
                                        <span class="team-member__title highlight__secondary--dark">Cardiologist</span>
                                    </div>
                                </div>
                                <div class="team-member__item">
                                    <img src="{{ 'assets/dist/images/member_thumbnail.png'|theme }}" alt="image" class="team-member__image">
                                    <div class="team-member__info">
                                        <span class="team-member__name">Herman Lock</span>
                                        <span class="team-member__title highlight__secondary--dark">Cardiologist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section facility">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="section__title text-center">our facility</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quam ipsum quas distinctio aut optio fuga veniam sit omnis quidem natus inventore aperiam, commodi cumque quo maiores minus quae neque perspiciatis. Eos adipisci odit doloribus eligendi. Placeat aut nesciunt nostrum, animi voluptatum ipsum inventore omnis aperiam mollitia eos aspernatur eligendi?</p>
                            <button class="button button--primary">Vivus magna</button>
                        </div>
                        <div class="col-md-6">image</div>
                    </div>
                </div>
            </section>
            <section class="section services">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2 class="section__title section__title--underlined text-center">our services</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service">
                                    <header class="service__header">
                                        <h3>Service One</h3>
                                    </header>
                                    <div class="service__body">
                                        <ul class="service-list">
                                            <li class="service-list__item">Donec sollicitudin</li>
                                            <li class="service-list__item">Nulla porttitor accumsanmolestie</li>
                                            <li class="service-list__item">Donec sollicitudin</li>
                                        </ul>
                                        <button class="button button--secondary mt-4">Vivus magna</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service">
                                    <header class="service__header">
                                        <h3>Service Two</h3>
                                    </header>
                                    <div class="service__body">
                                        <ul class="service-list">
                                            <li class="service-list__item">Donec sollicitudin</li>
                                            <li class="service-list__item">Nulla porttitor accumsanmolestie</li>
                                            <li class="service-list__item">Donec sollicitudin</li>
                                            <li class="service-list__item">Nulla porttitor accumsanmolestie</li>
                                        </ul>
                                        <button class="button button--secondary mt-4">Vivus magna</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service">
                                    <header class="service__header">
                                        <h3>Service Three</h3>
                                    </header>
                                    <div class="service__body">
                                        <ul class="service-list">
                                            <li class="service-list__item">Donec sollicitudin</li>
                                            <li class="service-list__item">Nulla porttitor accumsanmolestie</li>
                                            <li class="service-list__item">Donec sollicitudin</li>
                                        </ul>
                                        <button class="button button--secondary mt-4">Vivus magna</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="row">
                        <div class="col-md-4">
                            <h3 class="text-uppercase">menu</h3>
                            <ul class="footer-menu  mt-4">
                                <li class="footer-menu__item">Home</li>
                                <li class="footer-menu__item">About</li>
                                <li class="footer-menu__item">Facility</li>
                                <li class="footer-menu__item">Services</li>
                                <li class="footer-menu__item">Contact</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-uppercase">location</h3>
                            <ul class="footer-menu  mt-4">
                                <li class="footer-menu__item">123 6th St. </li>
                                <li class="footer-menu__item">Melbourne, FL 32904</li>
                                <li class="footer-menu__item">71 Pilgrim Avenue</li>
                                <li class="footer-menu__item">Chevy Chase, MD 20815</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-uppercase">contact us</h3>
                            <ul class="footer-menu mt-4">
                                <li class="footer-menu__item">0934-345-345</li>
                                <li class="footer-menu__item">0934-443-345</li>
                                <li class="footer-menu__item">waard@info.com</li>
                            </ul>
                            <button class="button button--secondary mt-4">Subscribe</button>
                        </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col footer__copyright-wrap">
                        <p class="text-center">
                            @copyright Waard Template 1992
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>